h1{
    font-size: 25px;
    background-color: yellow;
    color: darkgreen;
    font-weight: bold;
    font-family: verdana;
    letter-spacing: 4px;
    margin-bottom: 2px solid red;
}
p {
    background-color: lightgray;
    font-size: 18px;
    color: green;
    line-height: 2em;
    font-family: tahoma;
    font-style: italic;
  
}